body{
    overflow-y: hidden;
    margin: 0;
}

footer {
    visibility: hidden;
}

.left-container{
    width: 20%;
    height: 100vh;
    display: inline-block;
    overflow-x: hidden;
    background-color: rgba(233, 217, 228, 0.849);
    padding: 0;
}

.profile-image {
    text-align: center;
    padding-top: 2rem;
}

.profile-image img:hover {
    
    border-radius: 0%;
    transition: 3s;
}

.profile-image img {
    border-radius: 10%;
}



.navigation {
    width: 100%;
    text-align: center;
    font-family: 'Squada One', cursive;
    font-size: 28px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.navigation ul {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.navigation ul li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navigation ul li:hover {
    background-color: rgba(189, 187, 192, 0.438);
  }

.navigation ul li a {
    color: #111 ;
    text-decoration: none;
    
}

.navigation a:hover {
    color: white;
    transition: 0.3s;
 }

.icons {
    font-size: 35px;
    text-align: center;
    padding-top: 60px;
}

.icons a {
    text-decoration: none;
    color: black;
}

.icons a:hover {
    color: rgba(247, 8, 175, 0.849);
}


 
.right-container{
    overflow-y: scroll;
    display: inline-block;
    background-color: rgb(243, 243, 235);
    height: 100vh;
    width: 79%;
}

/* index.html */

.container {
    padding-top: 20px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    
}

.backgroundImage img {
    width: 100vw;
} 

 .container {
    background-image: url('images/laptop.png');
    background-size: cover;
    
}

.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

/* sets the grid position to column and row 1  */
.mainText {
    grid-column: 1;
    grid-row: 1;
}

/* sets the grid position to column 2 and row 1  */
.profilePicture {
    grid-column: 2;
    grid-row: 1;
}

/* sets the grid position to column and row 2  */
.mainText2 {
    grid-column: 2;
    grid-row: 2;
}

/* sets the grid position to column 1 and row 2 */
.mainTextP {
    grid-column: 1;
    grid-row: 2;
}

/* sets the grid position to column 1 and row 3 */
.mainText3 {
    grid-column: 1;
    grid-row: 3;
}

/* styles the main text h1 element by setting the font family to the google api squada one title font, the font size
to 40px and the font weight to normal, when styling the text without the font weight set to none the text was bolder twice making 
it look blury, by setting the weight to normal it makes the font look a lot clearer */
.mainText h1{
    font-family: 'Squada one',cursive;
    font-size: 40px;
    font-weight: normal;
}

/* sets the p text in the mainText class to oswald my chosen paragraph font from the google api */
.mainText p {
    font-family: 'Oswald', cursive;
}

/* aligns the content of the profilePicture class centeral and vertically aligns it in the middle of the div */
.profilePicture {
    text-align: center;
    vertical-align: middle;
}

/* adds a 15% border radius onto the image within the class */
.profilePicture img {
    border-radius: 15%;
}

/* when the main text h1 element is hovered over the colour is changes to pink and box shadow is added to create an underlining
deisgn effect, this has a 0.5 transition speed to make it gradual */
.mainText h1:hover {
    color: rgba(247, 8, 175, 0.849);
    box-shadow: 5px 5px;
    transition: 0.5s;
}

/* styles the h1 heading in the class by aligning it the center and setting the font family and weight to normal, the font size is also set 
to the same size as all other headings to make a consistancy throughout the website */
.mainText2 h1 {
    text-align: center;
    font-family: 'Squada one', cursive;
    font-weight: normal;
    font-size: 40px;
}

/* aligns the text right within the p tag in the mainText2 class and sets the font to oswald the google api font  */
.mainText2 p {
    text-align: right;
    font-family: 'Oswald', cursive;
}

/* when the main text h1 element is hovered over the colour is changes to pink and box shadow is added to create an underlining
deisgn effect, this has a 0.5 transition speed to make it gradual */
.mainText2 h1:hover {
    color: rgba(247, 8, 175, 0.849);
    box-shadow: 5px 5px;
    transition: 0.5s;
}

/* styles the h1 element inside the class by setting the font family to squada one, align the text on the left, set the weight to normal
and set the font size to 40px */
.mainText3 h1 {
    font-family: 'Squada one', cursive;
    text-align: left;
    font-weight: normal;
    font-size: 40px;
}

/* when the main text h1 element is hovered over the colour is changes to pink and box shadow is added to create an underlining
deisgn effect, this has a 0.5 transition speed to make it gradual */
.mainText3 h1:hover {
    color: rgba(247, 8, 175, 0.849);
    box-shadow: 5px 5px;
    transition: 0.5s;
}

canvas{
    border:2px solid rgba(18, 18, 19, 0.438); 
    font-family: 'Squada One';
    
  }

.mainTextP canvas{
    margin-top: 40px;
    margin-left: 20px;
}

/* the links class is used to set up the grid for the three links, first the text is aligned centrally then the grid is set up. The grid
has three template columns all are 100px with a 50px grid gap between them. The rows are set to auto row which will be 100p. padding is added 
to all four of the sides to position them in the correct place, the bakcground colour is then set to make them stand out to the user and 
contrast from the background image */
.links {
    text-align: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 30%;
    padding-right: 20%;
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: rgb(243, 243, 235);
}

/* sets the font family to oswald, the font size to 11px as its a smaller part of the text and sets the background colour to below */
.link {
    font-family: 'Squada One', cursive;
    font-size: 15px;
    font-weight: lighter;
    background-color: rgba(189, 187, 192, 0.438);
    margin-top: 20px;
}

/* styles the a element inside the link class by removing decoration on the text which is put on as its a link and setting the colour
of the text to black */
.link a {
    text-decoration: none;
    color: black;
}

/* changes the font weight to be normal for the h1 element */
.link a h1 {
    font-weight: normal;
}

/* when the link class is hovered over the border radius will change to show a circle shape and the background will turn white,
this will be done at a transition speed of 0.3 seconds */
.link:hover {
    border-radius: 50%;
    transition: 0.3s;
    background-color: white;
}

/* when the link a elements are hovered over the colour will change to pink  */
.link a:hover {
    color: rgba(247, 8, 175, 0.849);
}

.quote {
    font-family: 'Oswald',cursive;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    width: 100%;
    background-color: rgba(189, 187, 192, 0.438);
    /* height: 30px; */
}

/* portfolio.html */

.portfolio {
    text-align: center;
    
}

.portfolio h2 {
    font-size: 35px;
}

.portfolio h2,.portfolio h3 {
    font-family: 'Squada One', cursive;
    font-weight: normal;
    text-align: left;
    padding-left: 4rem;
}

.buttons {
    padding-bottom: 20px;
    text-align: center;
}


.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(300px);
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    padding-bottom: 40px;
}

.portfolio-itemHTML {
    background-color: rgba(243, 179, 224, 0.849);
    height: 120px;
}

.portfolio-itemCSS {
    background-color: rgba(189, 179, 243, 0.849);
    height: 120px;
}

.portfolio-itemJS {
    background-color: rgba(243, 208, 179, 0.849);
    height: 120px;
}

.portfolio-item {
    position: relative;
}

.imageDiv {
    position: absolute; 
    top: 0; 
    height: 100%; 
    width: 100%; 
    background-image: url("images/laptop.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.imageDiv2 {
    position: absolute; 
    top: 0; 
    height: 100%; 
    width: 100%; 
    background-image: url("images/JS.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.imageDiv3 {
    position: absolute; 
    top: 0; 
    height: 100%; 
    width: 100%; 
    background-image: url("images/CSS.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.middle {
    font-family: 'Squada One',cursive;
    opacity: 0;
    color: white;
    transition: .5s ease;
    position: absolute;
    padding-left: 15px;
    
}

.portfolio-item a:hover .middle{
    font-size: 16px;
    transition: 0.5s;
    opacity: 1;
    color: white;
}

.portfolio-item a {
    text-decoration: none;
}

/* cv.html */

/* styles the h1 tag inside the title class by setting the font family to squada one, the font weigth to normal
and the font size to 40px. The text is aligned in the center and a margin of 1rem is added to the bottom */
.title h1 {
    font-family: 'Squada One', cursive;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
}

/* when the h1 in the title class is hovered over the colour changes to pink with an alpha value */
.title h1:hover {
    color: rgba(247, 8, 175, 0.849);
}

/* the class holds the grid display and sets the column to repeat 2 with 1fr, the grid gap is 0 to keep the
contents next to each other, the grid rows are 100px minmax and are automatically implimented. Padding is added 
on the top and bottom. The max width is set to 40% and the margin is set to auto  */
.containerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 2rem;
    padding-top: 2rem;
    max-width: 50%;
    margin: auto;
}

/* styles the h3 tag inside the class by setting the margin start to 2px and margin end aswell*/
.containerGrid h3 {
    margin-block-start: 2px;
    margin-block-end: 2px;
}

/* styles the paragraph tag inside the class by setting the margin start to 2px and margin end 15px */
.containerGrid p {
    margin-block-start: 2px;
    margin-block-end: 15px;
}

/* styles the section1 class by setting the position within the grid to column 1 and row 1 to 5, the background
colour to rgba below and adding padding to the right, left and bottom to create appropriate spacing */
.section1 {
    grid-column: 1 ;
    grid-row: 1/5;
    background-color: rgba(166, 164, 168, 0.438);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 20px;
}

/* styles the h3 tag inside the class by setting the font family to squada one, the paragraph font, the font weight to normal
the font size to 30px and aligning the text to the center. Padding is also added to the bottom of 10px */
.section1 h3 {
    font-family: 'Squada One',cursive;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

/* styles the class image cv by aligning the text in the center, adding padding to the bottom and top of 1 rem to
add appropriate spacing, the width is set to 100% of the page */
.imageCV {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

/* styles the paragraph text in class by setting the font family to oswald and setting the font size to 14px */
.contactDetails p {
    font-family: 'Oswald',cursive;
    font-size: 14px;
}

/* styles the contact section  */
.contact {
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 14px;
}

/* styles the icon class by aligning text into the center, setting the font size to 25px and adding 1 rem of padding 
on the top */
.iconscv {
    text-align: center;
    font-size: 25px;
    padding-top: 1rem;
}

/* when the icons are hovered over they will turn a pink colour */
.iconscv i:hover {
    color: rgba(247, 8, 175, 0.849);
}

/* styles the section2 class by positioning it within the grid by assigning it to grid column 2 and grid row 1/5,
the background colour is then set to the same colour used within the navigation, the font family is set to the header font
squada one. Padding is then added for 1 rem to the right and the left and 20px to the bottom of the class */
.section2 {
    grid-column: 2 ;
    grid-row: 1/5;
    background-color: rgba(189, 187, 192, 0.438);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 20px;
    font-family: 'Squada One', cursive;
}

/* styles the h1 text within the section 2 class by setting the font weight to normal, setting the font size to 40px
sets the text to align in the center and a 10px margin along the bottom.  */
.section2 h1 {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

/* sets the h3 font weight to normal to combat the fuzzy looking font when its not set to normal */
.section2 h3 {
    font-weight: normal;
}

/* sets the paragraph text in the section 2 class to the font familt oswald and the font size to 14px */
.section2 p {
    font-family: 'Oswald', cursive;
    font-size: 14px;
}

/* styles the h3 tag inside the class by setting the font family to squada one setting the font weight to normal and the font 
size to 30px, padding is set to 0. */
.cvParts h3 {
    font-family: 'Squada One', cursive;
    font-weight: normal;
    font-size: 30px;
    padding: 0;
}

/* styles the paragraph tag by setting the font family to oswald */
.cvParts p {
    font-family: 'Oswald', cursive;
}

/* styles the list items in the unordered list in the class by setting the font family to oswald the paragraph font
for the document, setting the weight to normal and the font size to 14px */
.cvParts ul li {
    font-family: 'Oswald', cursive;
    font-weight: normal;
    font-size: 14px;
}

/* styles the unordered list in the class by adding padding inline start of 20px to set the start of the padding 
20px in rather than the orginal position */
.cvParts ul {
    padding-inline-start: 20px;
}

/* styles the section 3 class by first setting up its grid position, this is done by setting the column to 1/3
and the row to 5/6. The background colour is then set and the font family is Squada one the websites heading font
from the google api. Padding is used to add spacing to the right, left and bottom. The line height has been set to
20px to stop the large gap between each list item which effected the look of the information */
.section3 {
    grid-column: 1 / 3 ;
    grid-row: 5 / 6 ;
    background-color: rgba(189, 187, 192, 0.438);
    font-family: 'Squada One', cursive;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 15px;
    line-height: 20px;
}

/* styles the h3 element inside the section 3 by setting the font weight to normal, setting the font size to 30px
and adding 1 rem of padding on the top of the class creating reasonal spacing */
.section3 h3 {
    font-weight: normal;
    font-size: 30px;
    padding-top: 1rem;
}

/* styles the unordered list in section 3 by setting the font family to oswald the google fonts api and sets
the font size to 14px, the same as all the other paragraph text. */
.section3 ul {
    font-family: 'Oswald',cursive;
    font-size: 14px;

}

/* contact.html */

/* aligns all the containing objects centeral */
.wrapper {
    text-align: center;
}

/* styles the class container by adding padding to the bottom of 3rem, setting the maximum width to 
400px displaying the display as inline block and setting a mergin of 50px top and bottom and 0 on the sides, the 
background colour is set to below */
.contactContainer {
    padding-bottom: 3rem;
    max-width: 400px;
    display: inline-block;
    margin: 50px 0;
    background-color: rgba(233, 217, 228, 0.849);
}

/* styles the h3 tag in the form in the container class by setting the font family to squada one, the font size to 40px
and the fron weight to normal */
.contactContainer form h3 {
    font-family: 'Squada one', cursive;
    font-size: 41px;
    font-weight: normal;
}

/* when the h3 item in the form is hovered over it will change to the colour pink */
.contactContainer form h3:hover {
    color: rgba(247, 8, 175, 0.849);
}

/* styles the h4 tag inside the form inside the container by adding the font family oswald and the font weight
to normal */
.contactContainer form h4 {
    font-family: 'Oswald', cursive;
    font-weight: normal;
}

.contactContainer .sucessful {
    text-align: center;
}

/* styles the fieldset tag which is the fields within the form by adding a medium border, margin to the bottom of 10px
and setting the minimum width to 70% so when the page is resized it doesnt become thinner and thinner. Setting the width
to 70% means the field width wont change even if resized. margin is set to auto and padding is set on the left to 
10px */
 fieldset {
	border: medium none;
	margin-bottom: 10px;
	min-width: 70%;
	padding-left: 10px;
    width: 70%;
    margin: auto;
}

/* styles the inputs within the form to inherit the width from its parent, setting a border 1px thick which is solid and 
the colour, setting the background colour and adding padding around the edge as well as displaying the display
as inline block and setting the font family to oswald. */
.input input[type='text'], .input input[type='email'], .input input[type='tel'], .input textarea{
	width: inherit;
	border:1px solid #CCC;
	background:rgb(243, 243, 235);
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Oswald', cursive;
}

/* the button is styled by adding a background colour, removing the boreder automatically put onto the element,
aligning it centerally and setting the font family to squada one and the font size to 21px. the cursor allows you 
to change the style of the cursor, i changed this to pointer so people are aware that it can be pressed */
button {
    background-color: rgba(233, 217, 228, 0.849);
    border: none;
    text-align: center;
    font-family: 'Squada One', cursive;
    font-size: 21px;
    cursor: pointer;
}

/* when the button is hovered over the background colour is changed and the text colour to white, the 
transition speed is set to 0.3s */
button:hover {
    background-color: rgba(189, 187, 192, 0.438);
    color: white;
    transition: 0.3s;
}

#sucessful {
    width: 100%;
    height: 50px;
    font-family: 'Squada One';
    font-weight: normal;

}

.sucessful h2 {
    font-family: 'Squada One',cursive;
    font-weight: normal;
}


@media only screen and (max-width: 639px) {
    /* changes the grid column to only 1 rather than 2 */
    .display {
        grid-template-columns: repeat(1, 1fr);
    }

    /* sets the column to 1 and the row to 2 */
    .profilePicture {
        grid-column: 1;
        grid-row: 2;
    }
    
    /* sets the column to 1 and the row to 3 */
    .mainText2 {
        grid-column: 1;
        grid-row: 3;
    }
    
    /* sets the column to 1 and the row to 4 */
    .mainTextP {
        grid-column: 1;
        grid-row: 4;
    }

    /* sets the column to 1 and the row to 5  */
    .mainText3 {
        grid-column: 1;
        grid-row: 5;
    }

    /* removes the padding from the left and right setting it to 0 and sets the grid 10 1 column */
    .links{
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        padding-bottom: 20px;
        
    }

    /* sets the column position to 1 and resets the width and height to 100px, margin auto centers the class 
    by adding equal padding on ethier side */
    .link {
        grid-column: 1;
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .left-container {
        width: 100%;
        height: 50px;
        padding-top: 0;
    }

    .right-container{
        width: 100%;
    }

    .profile-image {
        display: none;
    }

    .navigation {
        padding-top: 0;
    }

    .navigation ul li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
    }


    body{
        overflow-y: visible;
    }

    footer {
    visibility: visible;
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Squada One', cursive;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(233, 217, 228, 0.849);
    position: absolute;
    left: 0;
    bottom: 0;
    }
    
    footer a {
        text-decoration: none;
        color: black;
    }
    
    /* when the footer links are hovered over the colour will change to pink */
    footer a:hover {
        color: rgba(247, 8, 175, 0.849);
    }

    
}

@media only screen and (max-width: 1023px) {
    /* sets the width of the display grid to 70% and centers the content through using margin auto, change padding
    on the left and the right to 0 to remove it */
    .display {
        max-width: 70%;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    /* stlyes the image inside the maintextp class by setting the width to 100%*/
    .mainTextP img {
        width: 100%;
    }

    /* adds 25% padding to the left of the links class */
    .links {
        padding-left: 25%
    }

    /*sets the container grid class to a max width of 70%*/
    .containerGrid {
        max-width: 70%;
    }
}
